<html>
<body>
<h3>Hi ${user.name}, welcome to the Chipping Sodbury On-the-Hill message boards!</h3>

<div>
    点击连接 ：<a href="http://localhost/zutai/dev/user/confirm/${user.url}">${user.url}</a>
</div>
</body>
</html>