<html>
<body>
<h3>Hi ${user.name}, welcome to the Chipping Sodbury On-the-Hill message boards!</h3>

<div>
    <a href="http://localhost:8888/mail/greeting/${user.url}" >打开贺卡</a>
    <iframe src="https://rescdn.qqmail.com/zh_CN/greetingcard/flash2h5/card/b168/b168.html" frameborder="no">
        不支持
    </iframe>
</div>
</body>
</html>